.cardScore{
    min-height: 417px;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(3, 3, 3, 0.34);
    background-color: #ffffff;
}
.cardScoreDetalle{
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(3, 3, 3, 0.34);
    background-color: #ffffff;
}
.botonera{
    margin:20px;
    border: 1px lightgray solid;
}
.botonera > li {
    cursor: pointer;
}
.botonera > li > i {
    float: right;margin-right: 1rem;margin-top: 0.3rem
}
.botonera > li:first-child {
    border-top: 0px 
}
.botonera > li:hover{
    background-color: lightgray;
}
.cabeceraScore{
    border: solid 1px #d5d5d5;
}
.tituloScoreCard{
    // font-family: OpenSans;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.88;
    letter-spacing: normal;
    color: #696969;
    text-align: left;
    font-family: sans-serif;
}
.barraAtras{
    background-color: #f2f2f2;
    position: absolute;
    width:100%;
    height: 17px;
    z-index: 1;  
    border-radius: 9.5px;
}
.barraVerde{
    height: 17px;
    position: absolute;
    font-family: Helvetica;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: normal;
    color: #5e5e5e;
    background-color: #c5e47a;
    z-index: 2;  
    border-radius: 9.5px;
}

.barraAmarilla{
    height: 17px;
    position: absolute;
    font-family: Helvetica;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: normal;
    color: #5e5e5e;
    background-color: #ffd200;
    z-index: 2;  
    border-radius: 9.5px;
}

.barraRoja{
    height: 17px;
    position: absolute;
    font-family: Helvetica;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: normal;
    color: white;
    background-color: #c92d2d;
    z-index: 2;  
    border-radius: 9.5px;
}
.tituloDetalle{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.88;
    letter-spacing: normal;
    color: #ec1c24;
}

.btnTop2 {
    border-color: #ec1c24 2px solid;
    border: 0px;
    border-radius: 50px;
    font-size: px;
    background-color: #ec1c24;
    color: white;
    padding: 10px 15px;
    width: 256px;
  }

// $des_eco6_backColor: linear-gradient(90deg, #068468 50%,  #84d8c6 50%);
$des_eco6_backColor: #009DD6;

.imgMovil{
    //background-image: url("/../../../assets/img/fraude2/score/score-woman.png") !important;    
    background-size: 470px;
    background-color: $des_eco6_backColor;
    background-position: right -105px bottom 0% !important;
    background-repeat: no-repeat;
}

.red {
    color: #ec1c24;
}

#chartdiv {
    width: 100%;
    height: 500px;
}

.Midiendo-tu-score-fi {
    width: 770px;
    height: 345px;
    font-family: FrutigerCE-Roman;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #58595b;
  }








  .tituloInteres{
    font-family: OpenSans;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: normal;
    color: #333333;
  }
  .containerIntereses{
    min-height: 578px;
    background-color: #f6f8fa;
  }
  .cardInteres{
    background-color: #ffffff;
    height: 420px;
    max-width: 335px;
  }
  .cardInteres2{
    border-radius: 6px;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    height: 400px;
    max-width: 325px;
  }
  .cardInteres > .card-body > h4{
    font-family: OpenSans;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #556056;
    opacity: 0.9;
  }
  
  .cardInteres > .card-body > .card-text{
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: normal;
    color: #9b9b9b;
  }
  
  .linkConoceMas{
    border-top: 1px solid lightgray;
    margin-top: -30px;
    padding-top: 15px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: normal;
    color: #5e5e5e;
    cursor:pointer;
  }
 
  .imgInteres2{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 187px;
  }
  @media only screen and (max-width: 769px) {
  
  
    .tituloInteres{
        text-align: center;
    }
  
    .cardInteres{
        margin:auto !important;
    }
  
  }

  .carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #ffffff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease;
    padding-left: 0px;
    border-radius: 50%;
    border: 1px solid #979797 ;
  }
  .carousel-indicators .active {
    opacity: 1;
    background-color: #009DD6;
    border: 1px solid #009DD6 ;
  }