<div class="sticky-top">
    <app-header></app-header>
    </div>

<div>
    
    <!--
    <div class="d-block d-xl-none d-lg-none imgMovil" style="width:100%;height:325px;
            margin-top: -39px;">
        <div
            style="width:100%;height:40px;background-color: rgba(0,0,0,0.1);margin-top: 39px;color: white;padding-top: 5px">
            <div style="margin-left: 19.1%;">
                <span routerLink="/inicio" class="crumbModulo">Inicio > </span>
                <span class="crumbModulo"><b>Tus alertas financieras</b></span>
            </div>
        </div>
        <h1 class="tituloModulo">Todas las alertas
            financieras en un solo lugar</h1>

            <button *ngIf="login.isActive()" class="btnOrange" style="margin-top: 55px; margin-left:10%;width: 251px;
            height: 48px;
            border-radius: 4px;
            background-color: #ffffff;"
            (click)="login.goLogin()">Únete ahora
        </button>  
    </div> -->
    <!--background-image: url('assets/img/fraude2/alerts/alerts-man.png'), linear-gradient(90deg, #91DDF8 35%, #017DAA 5%, #017DAA 5%, #009DD6 45%);-->
    
    <div class="d-block d-xl-none d-lg-none imgMovil" style="width:100%;height:700px;
            background-image: url('assets/img/fraude2/score/score-woman.png');
            margin-top: 0px;">

        <h2 class="tituloModulo80 " >
            <br>Para aprender no hay <br> fecha de vencimiento... <br> ¡Seleciona tu     <br> curso, estudia <br> y certifícate <br> online!
         </h2>

            <button *ngIf="login.isActive()" class="btnMain21" style="margin-top: 25%; margin-left:18%;margin-right:18%"
            (click)="accedeCoursera()">Comienza a estudiar

        </button>
        <!--<button *ngIf="!login.isActive()" class="btnMain20" style="margin-top: 15%; margin-left:18%;"
            (click)="login.goLogin()">Agrega Invitados
        </button>-->
    </div>



    <div  class="d-none d-lg-block" >
    
    <div   style="width:80%;height:299px;margin-left: 10%;
        background-image: url('assets/img/fraude2/alerts/alerts-man.png'), linear-gradient(to right, #91DDF8 35%, #017DAA 10%, #017DAA 37%,#009DD6 37%, #009DD6 75%);
        background-position: left 8% bottom, left bottom;
        background-repeat: no-repeat;
        margin-top: -100px;
        background-size: auto, contain;">



        <h1 class="tituloModulo2" style="margin-top: 10%;"> <br> <br>Para aprender no hay fecha de vencimiento ... <br>
            ¡Seleciona tu curso, estudia y certifícate online! </h1>
             
            <table style="margin-top: 5px; margin-left:55% "> 
                <tr>
                    <th style="padding: 15px;"> 
                    <button  class="btnOrange3" (click)="accedeCoursera()"
                    style="margin-top: 25px; margin-left:5%;margin-right:10%; ">
                        Comienza a estudiar
                    </button>
                    </th>
                    <th>
                <!--<button *ngIf="login.isActive()" class="btnOrange4" routerLink="/perfil"
                    style=" margin-top: 25px; margin-left:5%;margin-right:10%">
                    Agrega invitados
                </button> -->
                </th>
                </tr>
            </table>

    </div>

    </div>

    <div class="container">
        <div class="row m-4">
            <div class="social-cont">
                <!-- <div class="social">
                    <ul>
                        <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://ecodesascco.grupomok.com.co/curriculumhome"
                                target="_blank" class="icon-facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="http://twitter.com/share?url=http://ecodesascco.grupomok.com.co" target="_blank"
                                class="icon-twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http://ecodesascco.grupomok.com.co"
                                target="_blank" class="icon-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div> -->
            </div>
            <div class="col-lg-10 col-md-10 offset-md-1 col-sm-12">
                <div class="row">
                    <div class="col-lg-2 col-md-1 col-sm-0"></div>
                    <div class="col-lg-8 col-md-10 col-sm-12" style="width: 770px;">

                    </div>
                    <div class="col-2"></div>
                </div>
                <!-- <div style="width:100%;" class="text-center">
                    <iframe width="100%" height="555" src="https://www.youtube.com/embed/X-50s-rpGRA" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div> -->
            </div>
        </div>

    <div  class="d-none d-lg-block" >    
    <div style="margin-left: 45%;">
        <img src="../../../assets/img/fraude2/score/coursera-seeklogo.com.png" class="card-img-top" style="width: auto;height: auto;">
    </div> 
    </div>

    <div class="d-block d-xl-none d-lg-none" >
    <div style="margin-left: 34%;">
        <img src="../../../assets/img/fraude2/score/coursera-seeklogo.com.png" class="card-img-top" style="width: auto;height: auto;">
    </div> 
    </div>


    <div  class="d-none d-lg-block" > 
        <div style="margin-top: 3%;">
            <div class="row m-5" >
                <div class="col-lg-10 col-md-10 offset-md-1 col-sm-12">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-0"></div>
                        <div class="col-lg-10 col-md-10 offset-md-0 col-sm-12" style="width: 770px; text-align: left;">
                            <h2 class="font-weight-bold text-dark text-center mt-3 mb-3" style="font-size: 30px;">
                                La plataforma #1 de aprendizaje en línea.
                            </h2>
                            <p style="font-size: 16px; padding-left: 13%;">
                                Coursera es una plataforma de educación virtual, que reúne contenidos y clases de muchas  <br>
                                universidades a través del mundo, con el fin de brindar una educación de calidad, con cursos en inglés  <br>
                                y español.
                            </p>
        
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-0"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>


        <div  class="d-block d-xl-none d-lg-none"  > 
            <div class="row m-2">
                <div class="col-lg-10 col-md-10 offset-md-1 col-sm-12">
                    <div class="row">
                        <div class="col-lg-2 col-md-1 col-sm-0"></div>
                        <div class="col-lg-8 col-md-10 col-sm-12" style="width: 770px; text-align: left;">
                            <h2 class="font-weight-bold text-dark text-center mt-3 mb-3">
                                La plataforma #1 de <br> aprendizaje en línea.
                            </h2>
                            <p style="font-size: 18px; margin-left: 10%;">
                                Coursera es una plataforma de educación <br>
                                virtual, que reúne contenidos y clases de <br>
                                muchas universidades a través del  <br>
                                mundo, con el fin de brindar una  <br>
                                educación de calidad, con cursos en <br>
                                inglés y español.
                            </p>
    
                        </div>
                        <div class="col-lg-2 col-md-1 col-sm-0"></div>
                    </div>
                </div>
            </div>
            </div>

        <div class="d-none d-lg-block" >
        <div class="container  pt-5">
            <div class="row mt-2">
                <div class="col-lg-0"></div>
                
                <div class="col-lg-12" style="max-width:1266px;margin:auto">
                    
                    <h3 class="font-weight-bold text-dark">
                        Estos son los cursos más estudiados
                    </h3>
                    
                    <div class="row mt-2" >
                        
                        
                        <div class="col-lg-3 col-md-3 col-sm-3 mb-3 mt-3">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak.png" class="card-img-top"></div>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title"  >Speak English Professionally: In Person, Online & On the Phone</h4>
                                    <p >Georgia Institute  of <br> Technology</p><br>
                                    
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 mb-3 mt-3">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak2.png" class="card-img-top"></div>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Camino a la Excelencia en Gestión de Proyectos</h4> 
                                    <p style="margin-top: 13%;">Pontificia Universidad<br> Católica de Chile</p>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 mb-3 mt-3">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak3.png" class="card-img-top"></div>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Aprendiendo a aprender: Poderosas herramientas mentales</h4>
                                    <p >University of California</p><br>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 mb-3 mt-3">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak4.png" class="card-img-top"></div>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Seguridad Informática: Defensa contra las artes oscuras digitales</h4>
                                    <p >Crece con Google</p><br>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-0"></div>
            </div>
        </div>
        </div>

        <div class="d-block d-xl-none d-lg-none" >
            <div class="container  pt-2">
                <div class="row mt-2">
                    <div class="col-lg-0"></div>
                    
                    <div class="col-lg-12" style="max-width:1266px;margin:auto">
                        
                        <p class="font-weight-bold text-dark" style="font-size: 25px;" >
                            Estos son los cursos más estudiados
                        </p>
                        
                        <div class="row mt-4" 
                        style="display: flex;
                    flex-wrap: nowrap;
                    overflow-x: auto;"
                        >
                            
                            
                            <div class="col-lg-3 col-md-3 col-sm-8 mb-4 mt-4">
                                <div class="card cardInteres ml-1 mr-1">
                                    <div class="imgInteres">
                                        <img src="../../../assets/img/security/pic-speak.png" style="width: 325px; height: auto;"></div><br>
                                    <div class="card-body p-3 pb-2">
                                        <h4 class="card-title"  >Speak English Professionally: In Person, Online & On the Phone</h4>
                                        <p >Georgia Institute  of <br> Technology</p><br>
                                        
                                    </div>
                                    <div (click)="accedeCoursera()">
                                        <div id="flecha" class="card-img-top"></div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-3 col-md-3 col-sm-8 mb-4 mt-4">
                                <div class="card cardInteres ml-1 mr-1">
                                    <div class="imgInteres">
                                        <img src="../../../assets/img/security/pic-speak2.png" style="width: 325px; height: auto;"></div><br>
                                    <div class="card-body p-3 pb-2">
                                        <h4 class="card-title">Camino a la Excelencia en Gestión de Proyectos</h4> 
                                        <p >Pontificia Universidad<br> Católica de Chile</p>
                                    </div>
                                    <div (click)="accedeCoursera()">
                                        <div id="flecha" class="card-img-top"></div>
                                    </div>
                                </div>
    
                            </div>
    
                            <div class="col-lg-3 col-md-3 col-sm-8 mb-4 mt-4">
                                <div class="card cardInteres ml-1 mr-1">
                                    <div class="imgInteres">
                                        <img src="../../../assets/img/security/pic-speak3.png" style="width: 325px; height: auto;"></div><br>
                                    <div class="card-body p-3 pb-2">
                                        <h4 class="card-title">Aprendiendo a aprender: Poderosas herramientas mentales</h4>
                                        <p >University of California</p><br>
                                    </div>
                                    <div (click)="accedeCoursera()">
                                        <div id="flecha" class="card-img-top"></div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-3 col-md-3 col-sm-8 mb-4 mt-4">
                                <div class="card cardInteres ml-1 mr-1">
                                    <div class="imgInteres">
                                        <img src="../../../assets/img/security/pic-speak4.png" style="width: 325px; height: auto;"></div><br>
                                    <div class="card-body p-3 pb-2">
                                        <h4 class="card-title">Seguridad Informática: Defensa contra las artes oscuras digitales</h4>
                                        <p >Crece con Google</p><br>
                                    </div>
                                    <div (click)="accedeCoursera()">
                                        <div id="flecha" class="card-img-top"></div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                    <div class="col-lg-0"></div>
                </div>
            </div>
            </div>


        </div>


        <div class="d-none d-lg-block" >

        <div class="container containerIntereses pt-5">
            <div class="row mt-2">
                <div class="col-lg-0"></div>
                
                <div class="col-lg-12" style="max-width:1266px;margin:auto">
                    
                    <h3 class="font-weight-bold text-dark">
                        Aprende idiomas
                    </h3>
                    
                    <div class="row mt-4">
                        
                        
                        <div class="col-lg-3 col-md-4 col-sm-12 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak.png" class="card-img-top"></div>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Speak English Professionally: In Person, Online & On the Phone</h4>
                                    <p >Georgia Institute  of <br> Technology</p>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>


                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak5.png" class="card-img-top"></div>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Inglés Empresarial: <br>Finanzas y Economía</h4> 
                                    <p style="margin-top: 13%;">Arizona State University</p><br>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak6.png" class="card-img-top"></div>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Business English: Planning <br>& Negotiating</h4>
                                    <p style="margin-top: 13%;">University of Washintong</p>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak7.png" class="card-img-top"></div>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Chino Básico: los viajes de negocios</h4><br>
                                    <p >Arizona State University</p>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-0"></div>
            </div>
        </div>


        <div class="container containerIntereses pt-5">
            <div class="row mt-2">
                <div class="col-lg-0"></div>
                
                <div class="col-lg-12" style="max-width:1266px;margin:auto">
                    
                    <h3 class="font-weight-bold text-dark">
                        Habilidades de Negocio
                    </h3>
                    
                    <div class="row mt-4">
                        
                        
                        <div class="col-lg-3 col-md-4 col-sm-12 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak2.png" class="card-img-top"></div>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Camino a la Excelencia en Gestión de Proyectos</h4>
                                    <p >Pontificia Universidad <br> Católica de Chile</p>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>


                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak8.png" class="card-img-top"></div>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Fundamentos de Excel <br> para Negocios</h4>
                                    <p >Universidad Austral</p><br>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak9.png" class="card-img-top"></div>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Finanzas Personales</h4>
                                    <p >Universidad Nacional <br> Autónoma de México</p>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak10.png" class="card-img-top"></div>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Fundamentos de las <br> Ventas y el Marketing</h4>
                                    <p >Goldman Sachs</p><br>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-0"></div>
            </div>
        </div>


        <div class="container containerIntereses pt-5">
            <div class="row mt-2">
                <div class="col-lg-0"></div>
                
                <div class="col-lg-12" style="max-width:1266px;margin:auto">
                    
                    <h3 class="font-weight-bold text-dark">
                        Desarrollo Humano
                    </h3>
                    
                    <div class="row mt-4">
                        
                        
                        <div class="col-lg-3 col-md-4 col-sm-12 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak11.png" class="card-img-top"></div>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Estilos de Liderazgo: Opciones para avanzar en desafíos complejos </h4>
                                    <p >Universidad de los Andes</p>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>


                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak12.png" class="card-img-top"></div>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Tu consultorio de <br> Coaching en las ondas</h4> <br>
                                    <p>Universidad de los Andes</p>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak13.png" class="card-img-top"></div>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Aprendiendo a aprender: Poderosas herramientas mentales</h4>
                                    <p>University of California</p>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak14.png" class="card-img-top"></div>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">The Science of Well-Being</h4><br>
                                    <p>Yale University</p>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-0"></div>
            </div>
        </div>


        <div class="container containerIntereses pt-5">
            <div class="row mt-2">
                <div class="col-lg-0"></div>
                
                <div class="col-lg-12" style="max-width:1266px;margin:auto">
                    
                    <h3 class="font-weight-bold text-dark">
                        Ciencia de datos
                    </h3>
                    
                    <div class="row mt-4">
                        
                        
                        <div class="col-lg-3 col-md-4 col-sm-12 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak15.png" class="card-img-top"></div>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Introducción a la programación en Phyton </h4> 
                                    <p  style="margin-top: 13%;">Universidad Austral</p>                                   
                                </div>
                             
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>


                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak16.png" class="card-img-top"></div>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Introducción a Data<br> Science: Programación<br> Estadística con R</h4> 
                                    <p >Universidad Nacional <br>Autónoma de México</p>
                                </div>
                                
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak17.png" class="card-img-top"></div>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Seguridad Informática: Defensa contra la artes oscuras digitales</h4>
                                    <p >Crece con Google </p>
                                </div>
                                
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak18.png" class="card-img-top"></div>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Desarrollo de<br>Aplicaciones avanzadas<br> con Android</h4>
                                    <p >Universidad Nacional <br>Autónoma de México</p>       
                                </div>
                               
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-0"></div>
            </div>
        </div>

        <div class="container d-block d-xl-none d-lg-none quieroUnirmeMovile" (click)="login.goLogin()"
            *ngIf="!login.isActive()">
            <p><i class="icon-Login iconSize"></i>&nbsp;&nbsp;&nbsp;Únete ahora</p>
        </div>
    
        </div>
    <!--</div>-->


    <div class="d-block d-xl-none d-lg-none"  >

        <div class="container containerIntereses pt-5">
            <div class="row mt-2">
                <div class="col-lg-0"></div>
                
                <div class="col-lg-12" style="max-width:1266px;margin-left:13PX">
                    
                    <p class="font-weight-bold text-dark" style="font-size: 25px;">
                        Aprende idiomas
                    </p>
                    
                    <div class="row mt-4" style="display: flex;
                    flex-wrap: nowrap;
                    overflow-x: auto;">
                        
                        
                        <div class="col-lg-3 col-md-3 col-sm-8 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak.png"  style="width: 325px; height: auto;"></div><br>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Speak English Professionally: In Person, Online & On the Phone</h4>
                                    <p >Georgia Institute  of <br> Technology</p>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>


                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-8 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak5.png"  style="width: 325px; height: auto;"></div><br>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Inglés Empresarial: <br>Finanzas y Economía</h4> 
                                    <p >Arizona State University</p><br>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-8 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak6.png"  style="width: 325px; height: auto;"></div><br>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Business English: Planning <br>& Negotiating</h4>
                                    <p >University of Washintong</p>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-8 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak7.png"  style="width: 325px; height: auto;"></div><br>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Chino Básico: los viajes de negocios</h4>
                                    <p >Arizona State University</p>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-0"></div>
            </div>
        </div>


        <div class="container containerIntereses pt-5">
            <div class="row mt-2">
                <div class="col-lg-0"></div>
                
                <div class="col-lg-12" style="max-width:1266px;margin-left:13PX">
                    
                    <p class="font-weight-bold text-dark" style="font-size: 25px;">
                        Habilidades de Negocio
                    </p>
                    
                    <div class="row mt-4" style="display: flex;
                    flex-wrap: nowrap;
                    overflow-x: auto;">
                        
                        
                        <div class="col-lg-3 col-md-4 col-sm-8 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak2.png"  style="width: 325px; height: auto;"></div><br>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Camino a la Excelencia en Gestión de Proyectos</h4>
                                    <p >Pontificia Universidad <br> Católica de Chile</p>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>


                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-8 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak8.png"  style="width: 325px; height: auto;"></div><br>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Fundamentos de Excel <br> para Negocios</h4>
                                    <p >Universidad Austral</p><br>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-8 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak9.png"  style="width: 325px; height: auto;"></div><br>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Finanzas Personales</h4>
                                    <p >Universidad Nacional <br> Autónoma de México</p>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-8 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak10.png"  style="width: 325px; height: auto;"></div><br>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Fundamentos de las <br> Ventas y el Marketing</h4>
                                    <p >Goldman Sachs</p><br>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-0"></div>
            </div>
        </div>


        <div class="container containerIntereses pt-5">
            <div class="row mt-2">
                <div class="col-lg-0"></div>
                
                <div class="col-lg-12" style="max-width:1266px;margin-left:13PX">
                    
                    <p class="font-weight-bold text-dark" style="font-size: 25px;">
                        Desarrollo Humano
                    </p>
                    
                    <div class="row mt-4" style="display: flex;
                    flex-wrap: nowrap;
                    overflow-x: auto;">
                        
                        
                        <div class="col-lg-3 col-md-4 col-sm-8 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak11.png" style="width: 325px; height: auto;"></div><br>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Estilos de Liderazgo: Opciones para avanzar en desafíos complejos </h4>
                                    <p >Universidad de los Andes</p>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>


                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-8 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak12.png"  style="width: 325px; height: auto;"></div><br>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Tu consultorio de <br> Coaching en las ondas</h4><br>
                                    <p>Universidad de los Andes</p>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-8 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak13.png"  style="width: 325px; height: auto;"></div><br>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Aprendiendo a aprender: Poderosas herramientas mentales</h4><br>
                                    <p>University of California</p>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-8 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak14.png"  style="width: 325px; height: auto;"></div><br>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">The Science of Well-Being</h4><br>
                                    <p>Yale University</p>
                                </div>
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-0"></div>
            </div>
        </div>


        <div class="container containerIntereses pt-5">
            <div class="row mt-2">
                <div class="col-lg-0"></div>
                
                <div class="col-lg-12" style="max-width:1266px;margin-left:13PX">
                    
                    <p class="font-weight-bold text-dark" style="font-size: 25px;">
                        Ciencia de datos
                    </p>
                    
                    <div class="row mt-4" style="display: flex;
                    flex-wrap: nowrap;
                    overflow-x: auto;">
                        
                        
                        <div class="col-lg-3 col-md-4 col-sm-8 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak15.png"  style="width: 325px; height: auto;"></div><br>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Introducción a la programación en Phyton </h4> 
                                    <p style="margin-top: 11%;">Universidad Austral</p>                                   
                                </div>
                             
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>


                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-8 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak16.png"  style="width: 325px; height: auto;"></div><br>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Introducción a Data<br> Science: Programación<br> Estadística con R</h4> 
                                    <p >Universidad Nacional <br>Autónoma de México</p>
                                </div>
                                
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-8 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak17.png"  style="width: 325px; height: auto;"></div><br>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Seguridad Informática: Defensa contra la artes oscuras digitales</h4>
                                    <p style="margin-top: 11%;">Crece con Google </p>
                                </div>
                                
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-8 mb-4 mt-4">
                            <div class="card cardInteres ml-1 mr-1">
                                <div class="imgInteres">
                                    <img src="../../../assets/img/security/pic-speak18.png"  style="width: 325px; height: auto;"></div><br>
                                <div class="card-body p-3 pb-2">
                                    <h4 class="card-title">Desarrollo de<br>Aplicaciones avanzadas<br> con Android</h4>
                                    <p >Universidad Nacional <br>Autónoma de México</p>       
                                </div>
                               
                                <div (click)="accedeCoursera()">
                                    <div id="flecha" class="card-img-top"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-0"></div>
            </div>
        </div>

        <div class="container d-block d-xl-none d-lg-none quieroUnirmeMovile" (click)="login.goLogin()"
            *ngIf="!login.isActive()">
            <p><i class="icon-Login iconSize"></i>&nbsp;&nbsp;&nbsp;Únete ahora</p>
        </div>
        </div>
    
</div>


